In [3]:
import pandas as pd
import numpy as np

In [4]:
LDLdata=pd.read_sas(r'C:\Users\lenovo\Desktop\506\project 506\TRIGLY_I.XPT',encoding='utf8')
DR1=pd.read_sas(r'C:\Users\lenovo\Desktop\506\project 506\DR1TOT_I.XPT',encoding='utf8')
DR2=pd.read_sas(r'C:\Users\lenovo\Desktop\506\project 506\DR2TOT_I.XPT',encoding='utf8')
BPX=pd.read_sas(r'C:\Users\lenovo\Desktop\506\project 506\BPX_I.XPT',encoding='utf8')
DEMO=pd.read_sas(r'C:\Users\lenovo\Desktop\506\project 506\DEMO_I.XPT',encoding='utf8')
BMI=pd.read_sas(r'C:\Users\lenovo\Desktop\506\project 506\BMX_I.XPT',encoding='utf8')

In [5]:
LDL=LDLdata[['SEQN','LBXTR', 'LBDLDL']]
#WTSAF2YR:MEC weight
#LBXTR: triglyceride(mg/dl)
#LBDLDL:  LDL mg/dl

In [11]:
BloodP=BPX[['SEQN']]
BloodP['BPXSY']=np.nanmean(BPX[['BPXSY1','BPXSY2','BPXSY3','BPXSY4']],axis=1)
BloodP['BPXDI']=np.nanmean(BPX[['BPXDI1','BPXDI2','BPXDI3','BPXDI4']],axis=1)

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: Mean of empty slice

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: Mean of empty slice
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
BloodP

         SEQN       BPXSY       BPXDI
0     83732.0  122.666667   65.333333
1     83733.0  140.000000   86.000000
2     83734.0  135.333333   45.333333
3     83735.0  134.000000   70.000000
4     83736.0  104.000000   60.000000
5     83737.0  119.333333   58.666667
6     83738.0  100.000000   48.000000
7     83739.0         NaN         NaN
8     83740.0         NaN         NaN
9     83741.0  111.333333   72.666667
10    83742.0  118.000000   70.666667
11    83743.0         NaN         NaN
12    83744.0  179.333333  111.333333
13    83745.0  111.333333   78.000000
14    83746.0         NaN         NaN
15    83747.0  148.000000   92.000000
16    83748.0         NaN         NaN
17    83749.0  113.333333   58.666667
18    83750.0  110.666667   72.000000
19    83751.0  103.333333   53.333333
20    83752.0  104.000000   50.000000
21    83753.0  121.333333   61.333333
22    83754.0  118.666667   72.000000
23    83755.0  133.333333   81.333333
24    83756.0  120.000000   64.000000
25    83757.0  142.666667   62.666667
26    83759.0  104.000000   68.666667
27    83760.0         NaN         NaN
28    83761.0  107.333333   61.333333
29    83762.0  140.000000   76.666667
...       ...         ...         ...
9514  93672.0         NaN         NaN
9515  93673.0         NaN         NaN
9516  93674.0   94.666667   56.000000
9517  93675.0  112.666667   59.333333
9518  93676.0  115.333333   76.666667
9519  93677.0  113.333333   75.333333
9520  93678.0         NaN         NaN
9521  93679.0  136.000000   68.666667
9522  93680.0  112.000000   58.666667
9523  93682.0  126.000000   81.333333
9524  93683.0         NaN         NaN
9525  93684.0  110.666667   71.333333
9526  93685.0  127.333333   55.333333
9527  93686.0  112.000000   70.000000
9528  93687.0  114.666667   61.333333
9529  93688.0         NaN         NaN
9530  93689.0  164.000000   66.000000
9531  93690.0  115.333333   62.000000
9532  93691.0  112.000000   76.000000
9533  93692.0         NaN         NaN
9534  93693.0         NaN         NaN
9535  93694.0         NaN         NaN
9536  93695.0  111.333333   47.333333
9537  93696.0  116.000000   72.000000
9538  93697.0  148.000000   55.333333
9539  93698.0         NaN         NaN
9540  93699.0         NaN         NaN
9541  93700.0  104.666667   65.333333
9542  93701.0  114.000000   48.666667
9543  93702.0  118.666667   66.000000

[9544 rows x 3 columns]

In [13]:
drday1=DR1[['SEQN','DR1TTFAT','DR1TCHOL']]
drday2=DR2[['SEQN','DR2TTFAT','DR2TCHOL']]

In [14]:
drboth=pd.merge(drday1,drday2,how='inner',on='SEQN')
drboth['FAT']=np.nanmean(drboth[['DR1TTFAT','DR2TTFAT']],axis=1)
drboth['CHOL']=np.nanmean(drboth[['DR1TCHOL','DR2TCHOL']],axis=1)
dr=drboth[['SEQN','FAT','CHOL']]

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: Mean of empty slice

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: Mean of empty slice
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
demo=DEMO[['SEQN','RIAGENDR','RIDAGEYR','RIDRETH3']]
#ID,GENDER,AGE,RACE(FACTOR)
demo.rename(columns={'RIAGENDR':'GENDER','RIDAGEYR':'AGE','RIDRETH3':'RACE'},inplace=True)

C:\Users\lenovo\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [16]:
BMI=BMI[['SEQN','BMXHT','BMXWT','BMXBMI']]
#ID,HEIGHT,WEIGHT
BMI.columns=['SEQN','HEIGHT','WEIGHT','BMI']

In [17]:
Data=pd.merge(LDL,BloodP,how='inner',on='SEQN')
Data=pd.merge(Data,dr,how='inner',on='SEQN')
Data=pd.merge(Data,demo,how='inner',on='SEQN')
Data=pd.merge(Data,BMI,how='inner',on='SEQN')

In [18]:
Data=Data.dropna(axis=0)

In [19]:
Data.columns

Index(['SEQN', 'LBXTR', 'LBDLDL', 'BPXSY', 'BPXDI', 'FAT', 'CHOL', 'GENDER',
       'AGE', 'RACE', 'HEIGHT', 'WEIGHT', 'BMI'],
      dtype='object')

In [21]:
Data.to_csv(r'C:\Users\lenovo\Desktop\506\project 506\Data1.csv',index=None)